<h1>Login</h1>

<%= form_tag session_create_path do |f| %>
    <div>
      <%= label_tag :email %> <br>
      <%= email_field_tag :email %>
    </div>

    <div>
      <%= label_tag :password %> <br>
      <%= password_field_tag :password %>
    </div>

    <br/>

    <%= submit_tag 'Submit' %>

    <br/>
    <br/>

    <%= link_to 'Signup', new_user_path %>
<% end %>
