<p id="notice"><%= notice %></p>



<h1>Listing Things</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'View Thing', product %></td>

        <% if current_user  %>
            <% if current_user.admin  %>
                <td><%= link_to 'Edit', edit_product_path(product) %></td>
                <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end  %>
        <% end  %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user  %>
    <% if current_user.admin  %>
        <%= link_to 'New Product', new_product_path %>
    <% end  %>
<% end  %>