<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>


<% if current_user %>

    <!--<%= render partial: 'cart_items/form', locals: {product: @product, cart: @cart} %>-->

    <%= button_to 'Add to Cart', cart_items_path(product_id: @product, cart_id: @cart), method: :post %>


<% else %>
    <%= link_to 'Login or Sign Up to Purchase', session_login_path %>
<% end %>

<br/>
<br/>

<% if current_user  %>
    <% if current_user.admin  %>
        <%= link_to 'Edit', edit_product_path(@product) %> |
    <% end  %>
<% end  %>


<%= link_to 'Back', products_path %>
